/**
 * FLAG ABSTRACTION
 * extension for media-object abstraction with possibility of vertical alignment
 *
 *
 * +---------------+
 * |               |
 * |               |     ~~~~~~~~~
 * |               |     ~~~ ~~~~~~~~~ ~~~~~       +-----+  +-----+
 * |               |     ~~~~~~~~~~ ~~ ~~          |     |  |     |
 * |               |     ~~~~~~ ~~~~~~             +-----+  +-----+
 * |               |     ~~~~~~~~~~~~~~~~ ~~
 * |               |
 * +---------------+
 *
 *   .flag__sidebar       .flag__content            .flag__sidebar--right
 *
 *
 * idea here http://csswizardry.com/2013/05/the-flag-object/
 */

.flag {
  display: table;
  width: 100%;
}


%flag-element {
  display: table-cell;

  & > img {
    max-width: inherit !important; // fix Chrome bug with collapsing table-cell if it has img with max-width inside
  }

  .flag--top & {
    vertical-align: top;
  }

  .flag--bottom & {
    vertical-align: bottom;
  }
}

.flag__content {
  @extend %flag-element;
  width: 100%;
}

.flag__sidebar {
  @extend %flag-element;
  padding-right: 10px;
}

.flag__sidebar--right {
  @extend %flag-element;
  padding-left: 10px;
}
