// font configs
  $base-font-family: sans-serif;
  $base-font-size:   16;
  $base-line-height: 22;

// colors
// ...

// spacing
// ...

// breakpoint widths in pixels
// ...

// generate media-queries parameters out of breakpoints
// ...