// font configs
$base-font-family: sans-serif;
$base-font-size:   14;
$base-line-height: 18;

// colors
// ...

// breakpoint widths in pixels
// ...

// generate media-queries parameters out of breakpoints
// ...