.is-center-aligned { text-align: center !important; }
.is-left-aligned { text-align: left !important; }
.is-right-aligned { text-align: right !important; }
.is-middle-aligned { vertical-align: middle !important; }

.is-hidden { display: none !important; }
.text-is-hidden { text-indent: -100000px; }