html {
  font-size: 100%;
}

body {
  font-family: $base-font-family;
  font-size: em($base-font-size);
  line-height: em($base-line-height, $base-font-size);

  -webkit-font-smoothing: antialiased;
}

h1 {
  font: inherit;
  line-height: inherit;
  margin: 0;
}

h2 {
  font: inherit;
  line-height: inherit;
  margin: 0;
}

h3 {
  font: inherit;
  line-height: inherit;
  margin: 0;
}

p {
  font: inherit;
  line-height: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  // ...
}

ol {
  // ...
}