/**
 * FLAG ABSTRACTION
 * extension for media-object abstraction with possibility of vertical alignment
 *
 *
 * +---------------+
 * |               |
 * |               |     ~~~~~~~~~
 * |               |     ~~~ ~~~~~~~~~ ~~~~~
 * |               |     ~~~~~~~~~~ ~~ ~~
 * |               |     ~~~~~~ ~~~~~~
 * |               |     ~~~~~~~~~~~~~~~~ ~~
 * |               |
 * +---------------+
 *
 *   .flag__figure       .flag__content
 *
 *
 * idea here http://csswizardry.com/2013/05/the-flag-object/
 */

.flag {
  display: table;
  width: 100%;
}

%flag-element {
  display: table-cell;
  vertical-align: middle;

  & > img {
    max-width: inherit;
  }

  .flag--top & {
    vertical-align: top;
  }

  .flag--bottom & {
    vertical-align: bottom;
  }
}

.flag__content {
  @extend %flag-element;
  width: 100%;

  @extend %clearlast;
}

.flag__figure {
  @extend %flag-element;
  padding-right: em(15, $base-font-size);

  .flag--rev & {
    padding-right: 0;
    padding-left: em(15, $base-font-size);
  }
}
