.l-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list__item {
  margin: 0;
}

.l-list--inline {
  .list__item {
    display: inline-block;
  }

  .list__item + .list__item {
    margin-left: em(30, $base-font-size);
  }
}