/**
 * TARGET ABSTRACTION:
 * handles vertical and horizontal alignment of element:
 *
 * -----------------   -----------------   -----------------
 * |      ***      |   |               |   |               |
 * |     *****     |   |               |   |               |
 * |      ***      |   |      ***      |   |               |
 * |               |   |     *****     |   |               |
 * |               |   |      ***      |   |      ***      |
 * |               |   |               |   |     *****     |
 * |               |   |               |   |      ***      |
 * -----------------   -----------------   -----------------
 *
 *  .parent-box                - parent box; should have height/width defined
 *    .target                  - center horizontal alignment by default; modifiers --left & --right change the horizontal alignment
 *      .target__hit           - inner element to be positioned. By default has middle positioninig, --top & --bottom modifiers change that behaviour
 *      :after                 - makes the vertical alignment possible
 *
 * idea description here http://css-tricks.com/centering-in-the-unknown/
 */

.target {
  height: 100%;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.25em;
  }
}
  .target--left { text-align: left; }
  .target--right { text-align: right; }

.target__hit {
  display: inline-block;
  vertical-align: middle;
  max-width: 98%; // hack to prevent occupy 100% for small screens

  @extend %clearlast;
}
  .target__hit--top { vertical-align: top; }
  .target__hit--bottom { vertical-align: bottom; }